@charset "UTF-8";
.bullets {
  border-top: 1px solid #d3d3d3;
  border-bottom: 1px solid #d3d3d3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.bullets__text {
  padding: vw(60) 0;
  padding-right: vw(138);
  font-size: vw(40);
  width: 75%;
}

.bullets__empty {
  border-left: 1px solid #d3d3d3;
}

.bullets::before {
  content: 'Что нужно знать про камеру';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  padding-right: 20px;
  background-color: #fff;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 10px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.bullets::after {
  content: 'А ЧТО ТАМ ЕЩЕ?';
  display: block;
  position: absolute;
  bottom: 0;
  right: 0;
  padding-left: 20px;
  background-color: #fff;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 10px;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
}

@media (max-width: 768px) {
  .bullets__text {
    font-size: vw(30, 768);
    padding: vw(30, 768) 0;
    width: 100%;
  }
}

@media (max-width: 375px) {
  .bullets__text {
    font-size: vw(30, 375);
  }
}
