@charset "UTF-8";
@font-face {
  font-family: 'Golos';
  src: url("./assets/fonts/GolosTextDemiBold.ttf");
}

.header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__title {
  font-size: 5.14706vw;
  max-width: 630px;
}

.header__img-wrapper {
  max-width: 38.82353vw;
  max-height: 30.88235vw;
}

.header__img {
  width: 100%;
  height: 100%;
}

@media (max-width: 768px) {
  .header__title {
    font-size: 5.20833vw;
  }
  .header__img-wrapper {
    max-width: 32.29167vw;
    max-height: 25.78125vw;
  }
}

@media (max-width: 375px) {
  .header__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.reasons__title {
  font-size: 2.94118vw;
}

.reasons__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.reasons__number {
  padding-top: 2.20588vw;
  padding-bottom: 3.67647vw;
  font-size: 2.20588vw;
  color: #d3d3d3;
  border-bottom: 1px solid #d3d3d3;
  width: 3.85%;
  text-align: left;
}

.reasons__text {
  max-width: 717px;
}

.reasons__text-wrapper {
  padding-top: 2.20588vw;
  padding-bottom: 3.67647vw;
  font-size: 2.20588vw;
  border-bottom: 1px solid #d3d3d3;
  width: 81%;
}

@media (max-width: 768px) {
  .reasons__card {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    gap: 12.76042vw;
  }
  .reasons__text, .reasons__number {
    padding-bottom: 3.90625vw;
    font-size: 2.60417vw;
  }
  .reasons__number {
    text-align: right;
  }
}

@media (max-width: 375px) {
  .reasons__card {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    gap: 26.13333vw;
  }
  .reasons__text, .reasons__number {
    padding-bottom: 8vw;
    font-size: 5.33333vw;
  }
}

.last {
  border-bottom: none;
}

.bullets {
  border-top: 1px solid #d3d3d3;
  border-bottom: 1px solid #d3d3d3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.bullets__text {
  padding: 4.41176vw 0;
  padding-right: 10.14706vw;
  font-size: 2.94118vw;
  width: 75%;
}

.bullets__empty {
  border-left: 1px solid #d3d3d3;
}

.bullets::before {
  content: 'Что нужно знать про камеру';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  padding-right: 20px;
  background-color: #fff;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 10px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.bullets::after {
  content: 'А ЧТО ТАМ ЕЩЕ?';
  display: block;
  position: absolute;
  bottom: 0;
  right: 0;
  padding-left: 20px;
  background-color: #fff;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 10px;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
}

@media (max-width: 768px) {
  .bullets__text {
    font-size: 3.90625vw;
    padding: 3.90625vw 0;
    width: 100%;
  }
}

@media (max-width: 375px) {
  .bullets__text {
    font-size: 8vw;
  }
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  padding: 2.20588vw;
}

.container {
  font-family: Golos;
  border: 1px solid #D3D3D3;
}

@media (max-width: 768px) {
  body {
    padding: 2.60417vw;
  }
}

@media (max-width: 375px) {
  body {
    padding: 5.33333vw;
  }
}
