@import './mixins';

.header {
  // .header_content

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  // .header__title

  &__title {
    font-size: vw(70);
    max-width: 630px;
  }

  &__img-wrapper{
    max-width: vw(528);
    max-height: vw(420);
  }

  // .header__img

  &__img {
    width: 100%;
    height: 100%;
  }
  @include max(768){
    &__title{
      font-size: vw(40, 768);
    }
    &__img-wrapper{
      max-width: vw(248, 768);
      max-height: vw(198, 768);
    }
  }
  @include max(375){
    &__content{
      flex-direction: column;
    }
  }
}
