@import './mixins';

.reasons {
  // .reasons__title

  &__title {
    font-size: vw(40);
  }

  // .reasons__card

  &__card {
    display: flex;
    justify-content: space-between;
  }

  // .reasons__number

  &__number {
    padding-top: vw(30);
    padding-bottom: vw(50);
    font-size: vw(30);
    color: #d3d3d3;
    border-bottom: 1px solid #d3d3d3;
    width: 3.85%;
    text-align: left;
  }

  &__text{
    max-width: 717px;
  }

  // .reasons__text

  &__text-wrapper {
    padding-top: vw(30);
    padding-bottom: vw(50);
    font-size: vw(30);
    border-bottom: 1px solid #d3d3d3;
    width: 81%;
  }

  @include max(768){
    &__card{
      flex-direction: row-reverse;
      gap: vw(98, 768);
    }
    &__text,
    &__number{
      padding-bottom: vw(30,768);
      font-size: vw(20, 768);
    }
    &__number{
      text-align: right;
    }
  }
  @include max(375){
    &__card{
      flex-direction: row-reverse;
      gap: vw(98, 375);
    }
    &__text,
    &__number{
      padding-bottom: vw(30,375);
      font-size: vw(20, 375);
    }
  }
}

.last{
  border-bottom: none;
}
